* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --colorPrimary: #002973;
  --colorSecundary: #155db1;
}

html {
  scroll-behavior: smooth;
}

/* cabecera*/

header {
  width: 100%;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 1px 1px 30px -5px #373737;
}

.container-header {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
}

header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
}

/*menu*/
.container-nav {
  position: relative;
  height: 100%;
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: #373737;
  font-size: 14px;
  padding: 5px;
}

nav ul li {
  margin: 0px 10px;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  overflow: hidden;
  font-size: 16px;
}

.item:hover span {
  position: absolute;
  width: 100%;
  height: 5px;
  background: darkgoldenrod;
  bottom: -2px;
  transition: 0.2s linear;
}

.select {
  background: darkgoldenrod;
  padding: 10px 30px;
  color: beige;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #373737;
  transition: 1ms;
  cursor: pointer;
}

.select:hover {
  box-shadow: 1px 1px 30px -5px #373737a1;
}

/*fin menu*/

/*fin cabecera*/

/* cover*/
.cover {
  width: 100%;
  padding-bottom: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 150px;
}

.container-cover {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cover .container-info {
  max-width: 400px;
  margin-top: -20px;
  z-index: 2;
}
.cover h1 {
  max-width: 400px;
  font-size: 55px;
  font-weight: 900;
  color: black;
}

.cover h2 {
  font-size: 48px;
  font-weight: 900;
  color: darkgoldenrod;
  margin-top: -20px;
}

.cover h3 {
  font-size: 45px;
  font-weight: 900;
  color: gray;
  margin-top: -20px;
}

.cover p {
  margin-top: 10px;
  color: black;
}

.cover input[type="button"] {
  padding: 10px 40px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: white;
  background: darkgoldenrod;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #373737;
  cursor: pointer;
  transition: box-shadow 1ms;
}

.cover input[type="button"]:hover {
  box-shadow: 1px 1px 30px -5px #373737a1;
}

.container-vector {
  position: relative;
}

.container-vector img {
  position: absolute;
  bottom: 10px;
  top: -70px;
  right: 0;
  width: 400px;
  animation: move-vector 7s linear infinite;
}

@keyframes move-vector {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(25deg);
  }
}
/*fin cover*/

/*wave*/

.bg-color {
  width: 100%;
  height: 70%;
  background: #0693e3;
  position: absolute;
  top: 0;
}

.w1 {
  position: absolute;
  top: 250px;
}
/*fin wave*/

/*cards*/

.quienes-somos-titulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 230px;
}

.quienes-somos-titulo h1 {
  font-size: 60px;
  font-weight: 900;
  color: darkgoldenrod;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: move-quienes-somos 5s ease-in-out infinite;
  text-shadow: 1px 30px 15px rgb(87, 87, 87);
}

@keyframes move-quienes-somos {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

.container-cards {
  position: relative;
  top: 300px;
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container-cards .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.329);
  overflow: hidden;
  margin: 20px;
  background: #e9e9e9;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
}

.container-cards .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.329);
}

.container-cards .card img {
  width: 330px;
  height: 220px;
}

.container-cards .card h4 {
  position: relative;
  top: 20px;
  font-weight: 600;
  color: darkgoldenrod;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-cards .card p {
  position: relative;
  top: 25px;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-cards .card a {
  position: relative;
  top: 25px;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*fin cards*/

/*modal*/

.container-modal {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.modal {
  width: 40%;
  height: 50%;
  background: #fff;
  text-align: center;
  position: relative;
  animation: modal 1s linear;
  animation-iteration-count: 1;
  border-radius: 10px;
}

@keyframes modal {
  0% {
    transform: translateY(-200%);
  }
}

.modal-close {
  animation: close 1s linear;
  animation-iteration-count: 1;
}

@keyframes close {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: #c44a4a;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

/*fin modal*/

/*barra redes*/
.container-redes {
  position: fixed;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.it1 {
  display: flex;
  overflow: hidden;
  right: -150px;
  width: 200px;
  position: relative;
  padding: 10px;
  background: #3b5998;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 30px -5px #373737;
  transition: all linear 0.5s;
}

.it1:hover {
  right: 0;

  box-shadow: 1px 1px 30px -5px #373737a1;
}

.it2 {
  display: flex;
  overflow: hidden;
  right: -150px;
  width: 200px;
  position: relative;
  padding: 10px;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 30%,
    #fdf497 6%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 30px -5px #252525;
  transition: all linear 0.5s;
}

.it2:hover {
  right: 0;
  box-shadow: 1px 1px 30px -5px #373737a1;
}

.fa-facebook-square {
  color: #000;
  font-size: 28px;
}

.fa-instagram {
  color: #000;
  font-size: 28px;
}

.face1 {
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  font-weight: 900;
}

.face2 {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  display: inline-block;
  margin-left: 20px;
  font-weight: 900;
}

/*fin barra redes*/
